<% provide(:title, "Home") %>

<h1 class="text-center mb-5">Latest Blog</h1>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <% if @blog_posts.present? %>
            <% @blog_posts.take(5).each do |post| %>
                <div class="post-preview">
                <h2 class="post-title"><%= post.title %></h2>
                <h3 class="post-subtitle normal-text"><%= post.summary %></h3>
                <p class="post-meta">
                    Posted by <%= link_to post.user.name, user_path(post.user) %> <%= time_ago_in_words(post.created_at) %> ago
                </p>
                </div>
                <hr class="my-4" />
            <% end %>
            <% else %>
                <p>No blog posts found.</p>
            <% end %>
           <div class="d-flex justify-content-end mb-4">
                <%= link_to "Older Posts →", blog_post_path, class:"btn btn-primary text-uppercase" %>
            </div>
        </div>
    </div>
</div>
