<% if @blog_posts.present? %>
<% @blog_posts.each do |post| %>
    <div class="post-preview">
    <h2 class="post-title"><%= post.title %></h2>
    <h3 class="post-subtitle normal-text"><%= post.summary %></h3>
    <p class="post-meta">
        Posted by <%= link_to post.user.name, user_path(post.user) %> Posted <%= time_ago_in_words(post.created_at) %> ago.
    </p>
    </div>
    <%= link_to "Edit", user_path(post.user) %>
    <hr class="my-4" />
<% end %>
    <div class="d-flex justify-content-center my-4">
        <%= will_paginate @blog_posts %>
    </div>
<% else %>
<p>No blog posts found.</p>
<% end %>
