<% if request.path == about_path %>
<header class="masthead" style="background-image: url('<%= asset_path("about-bg.jpg") %>')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>About Us</h1>
                    <span class="subheading">Learn more about our company</span>
                </div>
            </div>
        </div>
    </div>
</header>
<% elsif request.path == root_path %>
<header class="masthead" style="background-image: url('<%= asset_path("home-bg.jpg") %>')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">Make a Blog with us !</span>
                </div>
            </div>
        </div>
    </div>
</header>
<% elsif request.path == blog_post_path %>
<header class="masthead" style="background-image: url('<%= asset_path('post-bg.jpg') %>')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Become a Blogger</h1>
                    <h2 class="subheading">Upload your blogger</h2>
                    <span class="meta">
                        Let's Go!
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<% elsif request.path == login_path %>
<div id="carouselExampleSlidesOnly" class="carousel slide masthead" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('about-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('home-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('post-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<% elsif request.path == users_path %>
<div id="carouselExampleSlidesOnly" class="carousel slide masthead" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('about-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('home-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('post-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<% elsif request.path == signup_path %>
<div id="carouselExampleSlidesOnly" class="carousel slide masthead" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('about-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('home-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('post-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<% elsif request.path.start_with?('/users/') %>
<div id="carouselExampleSlidesOnly" class="carousel slide masthead" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('about-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('home-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('post-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<% elsif request.path == upload_blog_path %>
<div id="carouselExampleSlidesOnly" class="carousel slide masthead" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('about-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('home-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('post-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<% elsif request.path == recent_search_path %>
<div id="carouselExampleSlidesOnly" class="carousel slide masthead" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('about-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('home-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('post-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<% elsif request.path.start_with?('/blog_post/') %>
<% if @blog_post.image.attached? %>
  <header class="masthead" style="background-image: url('<%= url_for(@blog_post.image) %>')">
<% else %>
  <header class="masthead" style="background-image: url('<%= asset_path('post-bg.jpg') %>')">
<% end %>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1><%= @blog_post.title %></h1>
                    <h2 class="subheading"><%= @blog_post.summary %></h2>
                </div>
            </div>
        </div>
    </div>
</header>

<% elsif request.path.match(/\/blog_posts\/\d+\/edit/) %>
<div id="carouselExampleSlidesOnly" class="carousel slide masthead" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path('about-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('home-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path('post-bg.jpg') %>" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<% end %>
